# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [1]:
import pandas as pd
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [ ]:
a : int = 10
b : int = 7

print(a + b) # addition
print(a - b) # subtraction
print(a * b) # multiplication
print(a / b) # division

17
3
70
1.4285714285714286

In [ ]:
a : int = 11
b : int = 3

print(a % b)

2

In [ ]:
print(2**2)
print(2**4)

4
16

In [ ]:
print(14 / 3)

4.666666666666667

In [ ]:
print(14 // 3)

4

# python assignment operators
table[1]

In [2]:
table[1]

   Operator        Example         Same As    Try it
0         =          x = 5           x = 5  Try it »
1        +=         x += 3       x = x + 3  Try it »
2        -=         x -= 3       x = x - 3  Try it »
3        *=         x *= 3       x = x * 3  Try it »
4        /=         x /= 3       x = x / 3  Try it »
5        %=         x %= 3       x = x % 3  Try it »
6       //=        x //= 3      x = x // 3  Try it »
7       **=        x **= 3      x = x ** 3  Try it »
8        &=         x &= 3       x = x & 3  Try it »
9        |=         x |= 3       x = x | 3  Try it »
10       ^=         x ^= 3       x = x ^ 3  Try it »
11      >>=        x >>= 3      x = x >> 3  Try it »
12      <<=        x <<= 3      x = x << 3  Try it »
13       :=  print(x := 3)  x = 3 print(x)  Try it »

In [ ]:
# = ASSIGN 
a : int = 10
b : int = 7

In [ ]:
# +=
a : int = 7
a : int = a + 2
print(a)

9

In [ ]:
# +=
a : int = 7
a += 2
print(a)

9

In [ ]:
# -=
a : int = 7
a -= 2
print(a)

5

In [ ]:
# *=
a : int = 7
a *= 2
print(a)

14

In [ ]:
# /=
a : int = 7
a /= 2
print(a)

3.5

In [ ]:
# %=
a : int = 7
a %= 5
print(a)

2

In [ ]:
# //=
a : int = 7
a //= 2
print(a)

3

In [ ]:
# **=
a : int = 7
a **= 2
print(a)

49

# Python Comparison Operators

In [ ]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [ ]:
a = 7
b = 10
print( a == b )

# 7 == 10
# false

False

In [ ]:
a = 7
b = 7
print( a == b )

# 7 == 7
# true

True

In [ ]:
a = 7
b = '7'
print( a == b )

# 7 == 7
# true

False

In [ ]:
# != 
a = 7
b = 7
print( a != b )

# 7 = 7
# false

False

In [ ]:
# >
a = 7
b = 8

print( a > b )
# a > b
# 7 > 8
# false

False

In [ ]:
# >
a = 7
b = 7

print( a > b )
# a > b
# 7 > 7
# false

False

In [ ]:
# >
a = 10
b = 8

print( a > b )
# a > b
# 10 > 7
# true

True

In [ ]:
# <
a = 10
b = 8

print( a < b )
# a < b
# 10 < 7
# false

False

In [ ]:
# >=
a : int = 6
b : int = 6

print( a >= b)

True

In [ ]:
# <=
a : int = 6
b : int = 6

print( a <= b)

True

In [ ]:
# ord is to finde ascii code
ord("A")

65

In [ ]:
# char finds charractor of ascii code
chr(67)

'C'

# Python Logical Operators

In [ ]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [ ]:
# and "lazmi"
# or "optional"
#1        2        3        4 
True and True and True and True # sab ka true hona lazmi hai aik bi comparision fals aya to aap wo kam nahi kar skte

True

In [ ]:
# and "lazmi"
# or "optional"
#1        2        3        4 
True and True and False and True

False

In [ ]:
# and "lazmi"
# or "optional"
print(True and True and True and True)
print(False and True and True and True)
print(True and False and True and True)

True
False
False

In [ ]:
# and "lazmi"
# or "optional" yani in 4 mai se aik bhi bhi true ho to True retrun hoga matlab kam chale ga
print(True or  True or  True or True)
print(False or True or  True or  True)
print(True or  False or  True or  True)
print(False or  False or  False or  False)

True
True
True
False

In [ ]:
name : str = "Nasir"
print(not name=="Nasir")

False

# Python Identity Operators

In [ ]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [ ]:
# variables names are different but value is same just like a man having two names (real name and nik name) but the person is same
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))
x is z

140717031097064
140717031097064

True

In [ ]:
# to check different objects they are same are not we use 'is' and 'is not'
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

x is not z

140717031097064
140717031097064

False

# Python Membership Operators

In [ ]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [ ]:
names : list[str] = [chr(i) for i in range(65,91)]
for i in range(len(names)):
    print(i,names[i])
    if names[i] == "D":
        print("True")
        break

0 A
1 B
2 C
3 D
True

In [ ]:
names : list[str] = [chr(i) for i in range(65,91)]
"D" in names

True

In [ ]:
names : list[str] = [chr(i) for i in range(65,91)]
display(names)
"pakistan" in names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

False

In [5]:
names : list[str] = ['Nasar','abu zarrar','abu alfarah']
uinput : str = input("Enter your name")
uinput in names

True

In [4]:
names : list[str] = ['Nasar','abu zarrar','abu alfarah']
uinput : str = input("Enter your name")
uinput not in names

True

<img src='https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg'> 

## PEMDAS

In [ ]:
print(3 + 2 - 2 * 4 / 2 + 2)

5

Let's solve the expression using **PEMDAS** rules (Parentheses, Exponents, Multiplication and Division (from left to right), Addition and Subtraction (from left to right)):

**Expression:**

```python
3 + 2 - 2 * 4 / 2 + 2
```

### Step-by-step:

1. **Multiplication and Division (left to right):**

   * `2 * 4 = 8`
   * `8 / 2 = 4`

   So the expression becomes:

   ```python
   3 + 2 - 4 + 2
   ```

2. **Addition and Subtraction (left to right):**

   * `3 + 2 = 5`
   * `5 - 4 = 1`
   * `1 + 2 = 3`

### ✅ Final Answer: **3**

In [7]:
print(( 3 + 5 )- ( 5 + 6 ))

-3

In [4]:
universe_age : int  = 14_000_000_000
print(universe_age)

14000000000

In [ ]:
#0  1   2        0      1    2
# unzip
a , b , c , = 'nasar' , 6 , 3.0
print(a)
print(b)
print(c)

nasar
6
3.0

In [6]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!