In [22]:
print("name")

name

# string data type in python

In [23]:
# boundries
# 'starting tex',"starting tex",'''starting tex''', """" starting tex""""
name : str = "muhammad nasir"
fname : str = "muhammad zubair"
print(type(name))
print(name)

<class 'str'>
muhammad nasir

In [24]:
# boundries
# 'starting tex',"starting tex",'''starting tex''', """" starting tex""""
name : str = 'muhammad nasir'
print(type(name))
print(name)

<class 'str'>
muhammad nasir

In [25]:
# boundries
# 'starting tex',"starting tex",'''starting tex''', """" starting tex""""
name : str = '''muhammad nasir'''
print(type(name))
print(name)

<class 'str'>
muhammad nasir

In [26]:
# boundries
# 'starting tex',"starting tex",'''starting tex''', """" starting tex""""
name : str = """muhammad nasir"""
print(type(name))
print(name)

<class 'str'>
muhammad nasir

In [27]:
massage : str = "free  palastine's land"
print(massage)

free  palastine's land

In [6]:
massage : str = 'free  palastine\'s land'
print(massage)

free  palastine's land

In [ ]:
massage : str = 'free  "palastine"land'
print(massage)

free  "palastine"land

In [ ]:
name : str = "muhammad nasir"
fname : str = "muhammad zubair"
education : str = "programer"
age : int = 26

card : str = "Swat coder's student card\n student name: "+ name + "\n age: " +str(age)
print(card)

Swat coder's student card
 student name: muhammad nasir
 age: 26

In [ ]:
print(2+4+9)

15

# (\\) line contiune

In [ ]:
print(2+\
      +4\
        +9)

15

In [ ]:
name : str = "muhammad nasir"
fname : str = "muhammad zubair"
education : str = "programer"
age : int = 26

card : str = "Swat coder's student card\n student name: "+ name +\
 "\n age: " +str(age) + "\n "\
 "education: " + education
print(card)

Swat coder's student card
 student name: muhammad nasir
 age: 26
 education: programer

# define multiline string """ """, ''' '''

In [7]:
name : str = "muhammad nasir"
fname : str = "muhammad zubair"
education : str = "programer"
age : int = 26
card : str = """ 
swat coder student card
name = .....
fname = .....
age = .....
education = .....
"""
print(card)

swat coder student card
name = .....
fname = .....
age = .....
education = .....

# F - string python

In [ ]:
# by using F after = you can asingn any kind of variable 

name : str = "muhammad nasir"
fname : str = "muhammad zubair"
education : str = "programer"
age : int = 26
card : str = f""" 
swat coder student card
name = {name}
fname = {fname}
age = {age}
education = {education}
"""
print(card)

swat coder student card
name = muhammad nasir
fname = muhammad zubair
age = 26
education = programer

In [ ]:
name : str = "muhammad nasir"
fname : str = "muhammad zubair"
education : str = "programer"
age : int = 26
card : str = f''' 
swat coder student card
name = {name}
fname = {fname}
age = {age}
education = {education}
total {2+3+7}
'''
print(card)

swat coder student card
name = muhammad nasir
fname = muhammad zubair
age = 26
education = programer
total 12

# F-string and jinga style

In [1]:
name : str = "muhammad nasir"

print(f"""
student name {name}
""")

student name muhammad nasir

In [ ]:
# jinja style
"""
student name {{name}}
"""

'\nstudent name {{name}}\n'

In [ ]:
name : str = "muhammad nasir"
fname : str = "muhammad zubair"
education : str = "programer"
age : int = 26

card : str = f''' 
swat coder student card
name = %s
fname = %s
age = %d
education = %s
''' %(name, fname, age, education)

print(card)

swat coder student card
name = muhammad nasir
fname = muhammad zubair
age = 26
education = programer

In [ ]:
name : str = "muhammad nasir"
fname : str = "muhammad zubair"
education : str = "programer"
age : int = 26

card : str = f''' 
swat coder student card
name = %s
fname = %s
age = %d
education = %s
''' %(name, fname, age, education)

print(card)

In [10]:
name : str = "MuHamMad NaSIr"
print(name.capitalize())
print(name.lower())
print(name.upper())
print(name.title())

Muhammad nasir
muhammad nasir
MUHAMMAD NASIR
Muhammad Nasir

In [1]:
# {} is a place holder
a = 7
b = 8
"swat vlaue a = {} value  b = {}".format(a,b)

'swat vlaue a = 7 value  b = 8'

In [8]:
name : str = "muhammad nasir"
fname : str = "muhammad zubair"
education : str = "programer"
age : int = 26
card : str = """ 
swat coder student card
name = {0}
fname = {1}
age = {2}
education = {3}
""".format(name, fname, age, education)
print(card)

swat coder student card
name = muhammad nasir
fname = muhammad zubair
age = 26
education = programer

# recomended two f-strings

In [2]:
name : str = "muhammad nasir"
fname : str = "muhammad zubair"
education : str = "programer"
age : int = 26
card : str = f''' 
SWAT CODERS STUDEN CARD
name = {name}
fname = {fname}
age = {age}
education = {education}
total {2+3+7}
'''
print(card)

SWAT CODERS STUDEN CARD
name = muhammad nasir
fname = muhammad zubair
age = 26
education = programer
total 12

In [8]:
student_code : str = """ 
print("my name is Muhammad Nasir")
a : int = 5
b : int = 8
print(a + b)
""" 
exec(student_code)

my name is Muhammad Nasir
13

# string methods and attributes

In [11]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [1]:
# variable name.method()
name : str = "muHammad nAsIr"
print(name.capitalize())

Muhammad nasir

In [2]:
name : str = "muHammad nAsIr"
print(name.casefold())

muhammad nasir

In [14]:
name : str = "      muHammad nAsIr      "
print(name)
print(name.lstrip())

      muHammad nAsIr
muHammad nAsIr

In [5]:
name : str = "      muHammad nAsIr      "
print(name)
print(name.rstrip())

      muHammad nAsIr
      muHammad nAsIr

In [9]:
name : str = "      muHammad nAsIr      "
print(name)
print(name.strip())

      muHammad nAsIr
muHammad nAsIr

In [1]:
name : str = "muhammad nasir"
display(name.title())

'Muhammad Nasir'

In [10]:
b = b"hello"
print(list(b))

[104, 101, 108, 108, 111]