In [1]:
name1 : str = "nasar"
name2 : str = "mustafa"
name3 : str = "jamal"

# list
* dynamic lenth
* hetrogenous data type (multiple type)
* index 
    * positive 0 to n-1
    * negative -1 to lenth-
* slicing
    * start : int = include
    * end : int = N-1
    * step : int = seaquance

In [2]:
#-->        0         1         2        3
names = ["nasar", "mustafa", "jamal", "habib"]
# <--     -4         -3         -2      -1
print(names[0])
print(names[-4])

nasar
nasar

In [3]:
#-->        0         1         2        3
names : list[any] = ["nasar", "mustafa", "jamal", "habib"]
# <--     -4         -3         -2      -1
print(f"founder of nextron {names[-3].upper()}")
print(type(names))
print(type(names[-1]))

founder of nextron MUSTAFA
<class 'list'>
<class 'str'>

In [4]:
characters : list[str] = list("ABCDEFGHIJKLMNOPQRSTUVWXYZ")
print(characters)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [5]:
# defualt slicing go from left to right 
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
print(characters[0:2]) # 0 = include : 2-1 = 1
print(characters[:2]) #not pass any number in start = all
print(characters[-26:-24])
print(characters[0:2:1]) 
print(characters[0:2:])

['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']

In [6]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
print(characters[::])

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [7]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
print(characters[ : : 2]) # seaquance

['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']

In [8]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
print(characters[ : : -1]) # it will go reverse

['Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S', 'R', 'Q', 'P', 'O', 'N', 'M', 'L', 'K', 'J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']

In [9]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
print(characters[1:-3])

['B', 'C', 'D', 'E']

In [10]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
print(characters[-1:-5]) 
# slicing go from left to right

[]

In [11]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
print(characters[-1:-5:-1]) # reverse slicing ke liye step mai -1 add karna hoga

['H', 'G', 'F', 'E']

# List methods

In [12]:
#-->                   0         1         2        3
names : list[any] = ["nasar", "mustafa", "jamal", "habib"]
# <--     -4         -3         -2      -1
print(names)
names[0] = "zarrar"
print(names)

['nasar', 'mustafa', 'jamal', 'habib']
['zarrar', 'mustafa', 'jamal', 'habib']

In [13]:
#-->                   0         1         2        3
names : list[any] = ["nasar", "mustafa", "jamal", "habib"]
# <--                 -4         -3         -2      -1
print(names)
del names[3]
print(names)

['nasar', 'mustafa', 'jamal', 'habib']
['nasar', 'mustafa', 'jamal']

In [14]:
[i for i in dir(list) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# pop method

In [15]:
names : list[any] = ["nasar", "mustafa", "jamal", "habib"]
print(names)
a : str  = names.pop()
print(a)
print(names)

['nasar', 'mustafa', 'jamal', 'habib']
habib
['nasar', 'mustafa', 'jamal']

In [16]:
names : list[any] = ["nasar", "mustafa", "jamal", "habib"]
print(names)
a : str  = names.pop(2)
print(a)
print(names)

['nasar', 'mustafa', 'jamal', 'habib']
jamal
['nasar', 'mustafa', 'habib']

# Append method
## append method add elements in last

In [17]:
names : list[str] = []
names.append("nasar")
names.append("mustafa")
names.append("jamal")
print(names)

['nasar', 'mustafa', 'jamal']

In [18]:
names : list[str] = ["osama","ayaman","khalid"]
print(names)
names.append("hakeem ullah")
print(names)

['osama', 'ayaman', 'khalid']
['osama', 'ayaman', 'khalid', 'hakeem ullah']

# insert method
## insert on particular position

In [19]:
names : list[str] = ["a","b","c","d"]
print(names)
names.insert(1, "nasar")
print(names)

['a', 'b', 'c', 'd']
['a', 'nasar', 'b', 'c', 'd']

# clear method

In [20]:
a : list[str] = ['a','b','c']
del a
print(a) # yaha  memory se object owr value bhi  
# delete hone ki waja se kuch mil nahi raha is liye error de rahahai
# tho agar ham sirf value remove karana chahte hai tho clear method use karenge

NameError: name 'a' is not defined

In [ ]:
a : list[str] = ['a','b','c']
a.clear()
print(a)

[]

# copy method

In [ ]:
a : list[int] = ['a','b','c',]
b = a 

print(a)
print(b)

['a', 'b', 'c']
['a', 'b', 'c']

In [ ]:
a : list[int] = ['a','b','c',]
b = a 

print(a)
print(b) 

b[0] = 'khurasan' # change only b variable but both variable updated

print(a)
print(b)

['a', 'b', 'c']
['a', 'b', 'c']
['khurasan', 'b', 'c']
['khurasan', 'b', 'c']

In [ ]:
a : list[int] = ['a','b','c',]
b = a.copy() # deep copy

print(a)
print(b) 

b[0] = 'nasar' # change only b variable but both variable updated

print(a)
print(b)

['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']
['nasar', 'b', 'c']

# count method

In [36]:
a : list[str] = ['a','a','a','a','d','c','c','c',]
print(a.count('c'))
print(a.count('a'))

3
4

# extend method

In [ ]:
names : list[str] = ["Mustafa Tawab","Muhammad Nasir"] # founders of Nextron

New_faculty_members : list[str] = ["jamal khan","minhas khan"]

names.append(New_faculty_members)# append ke saat as a list add hata hai na ke individualy index ke form se is se bachne ke liye ham istimal kartr hai Extend Method

names

['Mustafa Tawab', 'Muhammad Nasir', ['jamal khan', 'minhas khan']]

In [ ]:
names : list[str] = ["Mustafa Tawab","Muhammad Nasir"] # founders of Nextron

New_faculty_members : list[str] = ["jamal khan","minhas khan"]

names.extend(New_faculty_members) # Extend se dusi list ke elements alag alag add ho jata hai pehle object mai

print(names)

['Mustafa Tawab', 'Muhammad Nasir', 'jamal khan', 'minhas khan']

# remove method

In [40]:
names : list[str] = ['Mustafa Tawab', 'Muhammad Nasir', 'jamal khan', 'minhas khan']

names.remove('minhas khan')
print(names)

['Mustafa Tawab', 'Muhammad Nasir', 'jamal khan']

# index finder method

In [ ]:
names : list[str] = ['Mustafa Tawab', 'Muhammad Nasir', 'jamal khan', 'minhas khan']

names.index('minhas khan') # TIP agar koi naam do dafa ho tho ye hamesha first occerance wale ka finde kare ga

3

In [ ]:
names : list[str] = ['Mustafa Tawab', 'Muhammad Nasir', 'jamal khan', 'minhas khan','Mustafa Tawab']

names.index('Mustafa Tawab') # agar pehle wale ke elawa search karan hai tho us se age wala index number sat lagawo

4

# reverse method

In [ ]:
names : list[str] = ['Mustafa Tawab', 'Muhammad Nasir', 'jamal khan', 'minhas khan']
print(names)
names.reverse() # in_memorey = change real data
print(names)

['Mustafa Tawab', 'Muhammad Nasir', 'jamal khan', 'minhas khan']
['minhas khan', 'jamal khan', 'Muhammad Nasir', 'Mustafa Tawab']

In [47]:
a : list[str] = list("ACBEFDSG")
a.sort()
print(a)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'S']

In [1]:
a : list[str] = list("ACBEFDSG")
print(len(a))

8