# list 
* iteration operation with loop
* apply any operation on elements

In [ ]:
names : list[str] = ["Nasir","Farah","Zarrar"]

for name in names:
    print(name)

Nasir
Farah
Zarrar

In [17]:
names : list[str] = ["Nasir","Farah","Zarrar"]
for name in names:
    print(f'welcome dear guest {name}')
    print(name)

welcome dear guest Nasir
Nasir
welcome dear guest Farah
Farah
welcome dear guest Zarrar
Zarrar

In [12]:
names : list[str] = ["Nasir","Farah","Zarrar"]
for name in names: 
    print(f'welcome dear guest {name}')
    print("piaic gen AI team\n")

welcome dear guest Nasir
piaic gen AI team

welcome dear guest Farah
piaic gen AI team

welcome dear guest Zarrar
piaic gen AI team

In [13]:
names : list[str] = ["Nasir","Farah","Zarrar"]
for name in names: 
    print(f'welcome dear guest {name}')
    print("piaic gen AI team\n")
print("islam zindabad")

welcome dear guest Nasir
piaic gen AI team

welcome dear guest Farah
piaic gen AI team

welcome dear guest Zarrar
piaic gen AI team

islam zindabad

In [18]:
names : list[str] = ["nasir","farah","zarrar"]
for name in names[:2]: # agar makhsoos names print karne ho tho slicing ke tarieqe se karna hoga
    print(f'welcome dear guest {name}')
    print("piaic gen AI team\n")
print("islam zindabad")

welcome dear guest nasir
piaic gen AI team

welcome dear guest farah
piaic gen AI team

islam zindabad

In [ ]:
data_base : list[tuple] =[("nasar",324),
                          ("mustafa",675),
                          ("jamal",787)
                         ]
for row in data_base:
    print(row)

nasar 324
mustafa 675
jamal 787

In [ ]:
data_base : list[tuple] =[("nasar",324),
                          ("mustafa",675),
                          ("jamal",787)
                         ]
for row in data_base:
    user,password = row # unziping
    print(user,password)

nasar 324
mustafa 675
jamal 787

In [ ]:
data_base : list[tuple] =[("nasar",'324'),
                          ("mustafa",'675'),
                          ("jamal",'787')
                         ]
input_user : str = input("Enter user name")
input_password : str = input("Enter password ")
for row in data_base:
    user,password = row 
    if input_user == user and input_password == password:
        print("valid user")
        
else:
    print("Not Found")

valid user

In [1]:
names : list[tuple] = [("saad" ,'11'),
                       ("ijaz" ,'12'),
                       ("haroon","13"),
                       ]
input_name : str = input("Enter your name")
input_rolno : str = input("Enter your rolno")
for row in names:
    name,rolno = row
    if input_name == name and input_rolno == rolno:
        print("valid user")
        break
else:
    print("invalid user")

valid user

In [ ]:
names : list[str] = ["nasir","farah","narrar"]
for name in names:
    print(name)
else:
    print("hello world")

nasir

In [ ]:
names : list[str] = ["nasir","farah","narrar"]
for name in names:
    print(name)

print("hello world")

nasir
hello world

In [16]:
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians: 
    print(f"{magician.title()}, that was a great trick!")  
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [17]:
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians: 
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")
print("Thank you, everyone. That was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

# number with loopo
* range(start,end,step)

In [25]:
magicians = ['alice', 'david', 'carolina'] 

list(enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [25]:
magicians = ['alice', 'david', 'carolina'] 

for index,name in enumerate(magicians):
    print(index,name)

0 alice
1 david
2 carolina

In [18]:
range(10)

range(0, 10)

In [19]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
list(range(3,31,3))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [23]:
for n in range(2,21,2):
    print(n)

2
4
6
8
10
12
14
16
18
20

In [26]:
for n in range(2,21,1):
    print(f"{2} X {n} = {n*2}")

2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
2 X 12 = 24
2 X 13 = 26
2 X 14 = 28
2 X 15 = 30
2 X 16 = 32
2 X 17 = 34
2 X 18 = 36
2 X 19 = 38
2 X 20 = 40

In [33]:
squares : list[int] = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
    print(square)

1
4
9
16
25
36
49
64
81
100

In [9]:
squares : list[int] = []
for value in range(1, 11):
  square : int = value ** 2
  squares.append(square)
  print(square)

1
4
9
16
25
36
49
64
81
100

In [ ]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [ ]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
digits : list[int] = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
9
0
45

# tuple

In [9]:
names : tuple[str] = ('a','b','c')
print(names[0])
print(names[0:2])

a
('a', 'b')

In [1]:
names : tuple[str] = ('a','b','c')
names[0] = "pakistan"
print(names[0])
print(names[0:2])

TypeError: 'tuple' object does not support item assignment

In [11]:
names : tuple[str] = ('a','b','c')
names : tuple[str] = ('pakistan','b','c')
print(names)

('pakistan', 'b', 'c')

In [13]:
from typing import Any
data : tuple[Any] = ("a",[1,2,3],True)
print(data)

('a', [1, 2, 3], True)

In [16]:
from typing import Any
data : tuple[Any] = ("a",[1,2,3],True)
print(data[1])
data[1].append(20) # yaha tuple update nahi huwa hai balke list update huwa ha  
print(data)

[1, 2, 3]
('a', [1, 2, 3, 20], True)